extends /_layout

block page
  - var page = 'service';
  - var path = '/service'

block content
  div(data-barba="container",data-barba-namespace="service")
    section.mv
      div.mv-inner
        h1.mv-text
          | Service Page