.mv-inner
  position relative
  height: 100vh

.mv-text
  position: absolute
  top: 50%
  left: 50%
  transform: translate3d(-50%, -50%, 0)
  width: 100%
  font-size: vw(60)
  text-align center
  letter-spacing: 0.01em