extends /_layout

block page
  - var page = 'index';
  - var path = ''

block content
  div(data-barba="container",data-barba-namespace="index")
    section.mv
      div.mv-inner
        h1.mv-text
          | Top Page