extends /_layout

block page
  - var page = 'home';
  - var path = ''

block content
  div(data-barba="container",data-barba-namespace="index")
    section.mv
      div.mv-inner
        h1.mv-text
          | Implementing A Creative Website
          br
          | Using Three.js And Barba.js