extends /_layout

block page
  - var page = 'home';
  - var path = ''

block content
  div(data-barba="container",data-barba-namespace="index")
    section.mv
      div.mv-inner
        h1.mv-text
          | Implementing A Creative Website
          br
          | Using Three.js And Barba.js

    section.about
      div.about-bg
        div.container
          div.about-contents
            p.about-text Barba.js is a library that can be used to easily implement asynchronous transitions in WordPress projects. In this article, I'd like to combine Barba.js and Three.js to implement a creative website like the ones seen on Awwwards.

    section.intro
      div.intro-bg
        div.container
          div.intro-contents
            p.intro-text
              | You can look at my 
              a(href="https://codepen.io/hisamikurita", target="_blank").intro-link work 
              | if you want.
