html
  width 100%
  height 100%
  remove_scrollbar()

body
  // background-color $black
  -webkit-text-size-adjust: 100%
  text-size-adjust: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-touch-callout: none
  width 100%
  height 100%
  background: radial-gradient(ellipse at right top,#3a3a3a 20%,#272728 50%,#272728);
  font-size: 14px
  color: $white

html,body
  overflow: hidden

main
  position: relative

img, picture, svg
  display: block
  width: 100%
  height: auto

ul, li
  list-style: none

a
  color: inherit
  text-decoration: inherit

.is-only-pc
  +mq()
    display: none

.is-only-sp
  +mq_min()
    display: none

#webgl{
  position: fixed
  top 0
  left 0
  width 100%
  height 100%
  pointer-events: none
}

.container
  width: vw(1080)
  margin 0 auto

.dg.ac
  display none
  top: 120px!important

.title
  position absolute
  bottom 44px
  left 40px
  font-family: $carino
  font-size 72px
  font-weight: 200
  line-height 1.24
  letter-spacing -0.02em
  animation: weight 6.0s $colorAndOpacity-easing infinite;

@keyframes weight {
  0%{
    font-variation-settings: "wght" 200;
    }
  50%{
    font-variation-settings: "wght" 500;
  }
  100%{
    font-variation-settings: "wght" 200;
  }
}

.title-01
  font-family: $helvetica
  font-weight: 500
  font-size 15px
  letter-spacing -0.012em

.link
  position absolute
  bottom 61px
  right 40px
  font-size 12px
  text-align right
  line-height 1

.link-01
  color #bbbbbb

.num
  position: absolute;
  top: 50%;
  right: 54px;
  transform: translate3d(0, -50%, 0);
  font-family: $helvetica

.num-count
  display: flex
  align-items: center
  justify-content: center
  position relative
  width 12px
  height 16px
  overflow: hidden

.num-count-index
  position absolute
  top 0
  left 0
  transform: translateY(14px)

.num-all
  display: block
  position relative
  margin 9px 0 0 0
  &:before
    content: ''
    position absolute
    top -5px
    left -6px
    width 20px
    height 1px
    background-color #bbbbbb
