.header
  display: flex
  justify-content: space-between
  position: fixed
  top 0
  left 0
  width: 100%
  padding: 36px 40px 0
  z-index 100
  +mq()
    padding 18px 20px

.header-list
  display: flex
  padding: 22px 0 0 0
  +mq()
    display: block
    padding 8px 0 0 0

.header-item:not(:last-of-type)
  margin: 0 38px 0 0
  +mq()
    margin 0
    text-align right

.header-link
  font-size 15px
  font-family $carino
  opacity 0.6
  transition: opacity $base-duration $colorAndOpacity-easing;
  &:hover
    opacity: 1

page = index about service feature

for i in (page)
  .{i}
    & .header-item-{i}
      & .header-link
            opacity: 1

.header-logo
  & a
    display: block
    margin 0 0 16px 0
    font-size 60px
    font-family: $sixcaps;
    letter-spacing -0.018em
    +mq()
      margin 0 0 8px 0


.header-text
  font-size 12px
  font-family: $helvetica
  line-height 1.2
  letter-spacing -0.018em